* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    background-image: url('img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: -3rem;
    left: -3rem;
    width: calc(100vw + 6rem);
    height: calc(100vh + 6rem);
    z-index: -1;
    filter: blur(0px);
}

.loading-text {
    font-size: 4rem;
    color: #FFF;
}