@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: #5290f9;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

nav {
    background-color: #fff;
    padding: 2rem;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: width .6s linear;
}

nav.active {
    width: 35rem;
    max-width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 0;
    transition: width .6s linear;
}

nav.active ul {
    width: 100%;
}

nav ul li {
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform .6s linear, opacity .6s linear;
}

nav.active ul li {
    opacity: 1;
    transform: rotateY(360deg);
}

nav ul a {
    position: relative;
    color: #000;
    text-decoration: none;
    margin: 0 10px;
}

.icon {
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    height: 3rem;
    width: 3rem;
}

.icon .line {
    background-color: #5290f9;
    height: 2px;
    width: 2rem;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: transform .6s linear;
}

.icon .line2 {
    top: auto;
    bottom: 10px;
}

nav.active .icon .line1 {
    transform: rotate(-765deg) translateY(5.5px);
}

nav.active .icon .line2 {
    transform: rotate(765deg) translateY(-5.5px);
}