* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: steelblue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2rem 4rem;
    border-radius: .5rem;
}
.container h1 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2.5rem;
}

.container a {
    color: lightblue;
    text-decoration: none;
}

.form-control {
    position: relative;
    margin: 2rem 0 4rem;
    width: 30rem;
}

.form-control input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    display: block;
    width: 100%;
    padding: 1.5rem 0;
    color: #fff;
}

.form-control input:valid,
.form-control input:focus {
    outline: none;
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: lightblue;
    padding: 1.5rem;
    font-family: inherit;
    font-size: inherit;
    border: none;
    border-radius: .5rem;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(.98);
}

.text {
    margin-top: 3rem;
}

.form-control label {
    position: absolute;
    top: 1.5rem;
    left: 0;
}