* {
    box-sizing: border';
}

html {
    font-size: 10px;
}

body {
    background-color: #333;
    color: #222;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
    overflow-x: hidden;
    margin: 0;
    line-height: 1.5;
}

.container {
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5s linear;
    padding: 3rem;
    min-height: 100vh;
}

.content {
    max-width: 100rem;
    margin: 5rem auto;
}

.container.show-nav {
    transform: rotate(-20deg);
}

.container.show-nav + nav li {
    transform: translateX(0);
    transition-delay: .3s;
}

.circle-container {
    position: fixed;
    top: -10rem;
    left: -10rem;
}

.circle {
    background-color: #ff7979;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    position: relative;
    transition: transform .5s linear;
}

.container.show-nav .circle {
    transform: rotate(-70deg);
}

button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    background: transparent;
    border: none;
    font-size: 2.6rem;
    color: #fff;
    height: 10rem;
}

.circle button:focus {
    outline: none;
}

.circle button#open {
    left: 60%;
}

.circle button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

nav {
    position: fixed;
    bottom: 4rem;
    left: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    padding-left: 3rem;
}

nav ul li {
    color: #fff;
    margin: 2rem 0;
    transform: translateX(-150%);
    transition: transform .4s ease;
}

nav ul li i {
    font-size: 1.8rem;
    margin-right: 1rem;
}