@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: #f8f9fd;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    border-radius: 3px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 30rem;
}

.title {
    margin: 0;
}

.subtitle {
    display: inline-block;
    margin: .5rem 0 2rem;
    opacity: 0.8;
}

.header {
    background-color: #3e57db;
    color: #fff;
    padding: 3rem 2rem;
}

.header input {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 5rem;
    color: #fff;
    font-size: 1.2rem;
    font-family: inherit;
    padding: 1rem 1.5rem;
    width: 100%;
}

.header input:focus {
    outline: none;
}

.user-list {
    background-color: #fff;
    padding: 0;
    margin: 0;
    list-style: none;
    max-height: 40rem;
    overflow-y: auto;
}

.user-list li {
    display: flex;
    padding: 2rem;
}

.user-list img {
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.user-list .user-info {
    margin-left: 1rem;
}

.user-list .user-info h4 {
    margin: 0 0 1rem;
}

.user-list .user-info p {
    font-size: 1.2rem;
}

.user-list li:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}

.user-list li.hide {
    display: none;
}