:root {
    --left-bg-color: rgba(20, 20, 22, 0.7);
    --right-bg-color: rgba(80, 42, 42, 0.7);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-size: 3rem;
    color: #FFF;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.btn {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
    border: 2px solid #FFF;
    font-size: 1.3rem;
    padding: 1.5rem;
    width: 17rem;
    text-align: center
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #333;
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left {
    left: 0;
    background: url('images/moisturizer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.split.left::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--left-bg-color);
}

.split.left .btn:hover {
    background-color: rgba(20, 20, 22);
    border-color: rgba(20, 20, 22);
}

.split.right {
    right: 0;
    background: url('images/hair-cream.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.split.right::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--right-bg-color);
}

.split.right .btn:hover {
    background-color: rgba(80, 42, 42);
    border-color: rgba(80, 42, 42);
}

.hover-left .left{
    width: 75%;
}

.hover-left .right {
    width: 25%;
}

.hover-right .right{
    width: 75%;
}

.hover-right .left {
    width: 25%;
}