* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-image: linear-gradient(90deg, #7d5fff, #7158e2);
    font-family: 'DM Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.search {
    position: relative;
    height: 5rem;
}

.search .input {
    background-color: #FFF;
    border: 0;
    font-size: 1.5rem;
    padding: 1.5rem;
    height: 5rem;
    width: 5rem;
    transition: width .3s ease;
}

.btn {
    background-color: #FFF;
    border: 0;
    cursor: pointer;
    font-size: 2.4rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 5rem;
    width: 5rem;
    transition: transform .3s ease;
}

.input:focus,
.btn:focus {
    outline: none;
}

.search.active .input {
    width: 20rem;
}

.search.active .btn {
    transform: translateX(19.8rem);
}